.idea/
__pycache__/
test_tases/
*.pem
bot_token
CelesteTAS Improvements Tracker.exe
bot.log
improvements bot icon 32.ico
improvements-bot-testing - Shortcut.lnk
invite bot.txt
secret.txt
CelesteTAS Improvement Tracker.rdp
improvements-bot-data/
game_sync.log
sync/
service.json
sheet_id
todo.txt
PULL.bat
sid_caches.json
bot.old.log
game_sync.old.log
