.idea/
__pycache__/
log_history/
CelesteTAS Improvements Tracker.exe
bot.log
improvements bot icon 32.ico
improvements-bot-testing - Shortcut.lnk
invite bot.txt
secret.txt
CelesteTAS Improvement Tracker.rdp
improvements-bot-data/
game_sync.log
sync/
todo.txt
PULL.bat
sid_caches.json
bot.old.log
game_sync.old.log
history_log.json
/NoSQL
celeste
Mods
host.toml
.env
/log_history_months
archivelist.txt
uv.lock
pyproject.toml
